body {margin: 0; position: relative; background: linear-gradient(to right,#C6FFDD, #FBD786, #f7797d); height: 100vh;}
.first-wrap{ transition: 0.3s;}
.container {
    z-index: 100;
    position: absolute;
    width: 400px;
    height: 400px;
    background: #ffffff;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    display: none;
}
.container h3 {text-align: center; margin: 0 auto; padding: 10px;}
.item {position: relative;}
/*owner, contents design*/
.container .item #owner {
    border: 1px solid lightgray;
    height: 30px;
    width: inherit;
    box-sizing: border-box;
    padding-left: 30px;
    outline: none;
    transition: 0.3s;
    border-radius: 5px;
}
.container .item .fa-user {
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    color: gray;
    font-size: 18px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}
.container .bottomContent {
    display: block;
    position: absolute;
    text-align: center;
    bottom: 10%;
    font-weight: bold;
    width: 100%;
    background: linear-gradient(to right, #fbcac9, #8ca6ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contents {width: 100%; margin-top: 10px;}
textarea {outline: none; border: 1px solid lightgray; border-radius: 5px; transition: 0.3s;}
textarea:focus {border: 1px solid dodgerblue; box-shadow: 0 0 3px dodgerblue;}
textarea:focus::placeholder {visibility: hidden;}
.container .item input:focus {border: 1px solid dodgerblue; box-shadow: 0 0 3px dodgerblue; outline: none;}
.container .item input:focus + .fa-user {color: dodgerblue;}
#owner:focus::placeholder {visibility: hidden;}
#postId:focus::placeholder {visibility: hidden;}

#editDialog textarea {width: 100%; margin-top: 10px;}
#editDialog .item {text-align: center;}

/*close button design*/
.closeButton {border: 1px solid #e6e6e6; padding: 7px; border-radius: 5px; background: #e6e6e6; font-size: 14px; font-weight: bold;
position: absolute; top: 5px; right: 5px; cursor: pointer;}

/*작성, 수정 button design*/
.register {width: inherit; border: none; padding: 10px; border-radius: 5px; margin-top: 20px; font-size: 14px; color: gray; transition: 0.3s; cursor: pointer;}
.register:hover {font-weight: bold;}

/*body content*/
.wrap {width: 100%; position: relative;}
.wrap h1 {text-align: center; font-family: "Gmarket Sans"; font-weight: normal;}
.wrap span {display: block; text-align: center; color: #333333; transition: 0.3s; cursor: pointer;}
.wrap span:hover {font-weight: bold;}


/*게시물 작성, 삭제, 수정 메뉴*/
/*가운데 왼쪽 정렬*/
.gnb {position: absolute;top: 50%;transform: translateY(-50%);left: 50px;}

.gnb span {display: block;font-size: 40px;margin: 40px 0;color: #000;transition: 0.5s;cursor: pointer;}

/*순서 변경 불가*/
.gnb:hover span {opacity: 0.2;}
.gnb span:hover {opacity: 1;}
/*option -> icon create*/
.gnb span:before {
    content: '>';
    font-family: "Gmarket Sans";
    margin-right: 10px;
    opacity: 0;
}
.gnb span:hover:before {opacity: 1;}

/*time line design*/
.timeLine {position: absolute; left: 50%; transform: translateX(-50%); margin-top: 50px; text-align: center;}
.inner_container {
    width: 500px;
    height: 150px;
    margin-bottom: 70px;
}
.inner_container h2 {font-size: 16px; text-align: center; width: 100px;}
.inner_container h2:before {
    content: attr(data-content) '';
    background: royalblue;
    color: #ffffff;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 5px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
}
.inner_container p {border: 3px solid transparent; padding: 10px; box-sizing: border-box; height: 100%; width: 100%; margin-left: 3px; border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%); border-image-slice: 1; font-family: "Gmarket Sans";}
